# Gradle files
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Local configuration file (SDK path, etc.)
local.properties

# OS / Log files
*.log
*.tmp
*.temp
*.bak
*.orig
.DS_Store
Thumbs.db

# Android Studio generated folders
captures/
.externalNativeBuild/
.cxx/

# Build outputs
*.apk
*.aab
output-metadata.json

# Keystore files (sensitive)
*.jks
*.keystore
signing.properties

# Google Services (Firebase, etc.)
google-services.json

# IntelliJ / Android Studio project files
.idea/
*.iml
*.ipr
*.iws
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Profiling / Memory Dumps
*.hprof

/app/release/
/app/debug/
proguard/
lint/
gradle.properties

